/*--------------------Master styles--------------------*/
:root {
    --light-color : white;
    --dark-color: black;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0px;
    text-align: center;

    background-color: var(--light-color);
}

body > .loading {
    transition: 0.5s;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transform: translate(0%, 0%);

    background: rgb(30, 30, 30);
    z-index: 20000;
}

.transition-wrapper {
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/*--------------------Navbar styles--------------------*/

.nav-wrapper {
    position: fixed;
    transition: 0.5s;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;

    background: rgba(0, 0, 0, 0.8);
    z-index: 10000;

    font-size: 2em;
    color: var(--light-color);
}

.nav-hide {
    transform: translate(0%, -100%);
}

.right-side {
    display: flex;
}

.nav-wrapper > .right-side > div{
    margin-left: 30px;
}

.nav-link-wrapper {
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: white;
}

.nav-link-wrapper:hover{
    border-bottom: 1px solid white;
}

/*--------------------Banner Styles--------------------*/
.banner-wrapper {
    background:linear-gradient(rgba(0,0,0,0.3) ,rgba(0,0,0,0.3)), url(index_parallax.png);
    background-size: 100em;
    background-position: center;
    background-repeat: no-repeat;

    background-attachment: fixed;
    background-color: black;
    background-position-y: top;
}

h1 {
    padding: 1em 0em;
    color: var(--light-color);
    font-size: clamp(4em, 7vw, 7em);
}

/*--------------------Footer Styles--------------------*/
.footer {
    padding: 0.5em 1em;
    background: rgba(0, 0, 0, 0.8);
    font-size: 0.8em;
    text-align: right;
    color: var(--light-color);
}

/* ===================================================== Style Index
========================================================*/
/*--------------------Content Styles--------------------*/
/*
.portfolio-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
*/

.portfolio-item > h2 {
    font-size: 2em;
}

.portfolio-item > .transition-wrapper {
    margin: auto;
    width: min-content;
}

.portfolio-item > .transition-wrapper > .picture-and-text {
    position: relative;
    text-align: center;
    margin: auto;
    width: 100%;
    transition: 1s;
}

.portfolio-item > .transition-wrapper > .picture-and-text img {
    max-width: 400px;
    max-height: 100%;
    object-fit: contain;
}

.portfolio-item > .transition-wrapper > .picture-and-text > .subtitle {
    position : absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.4s;
    color: transparent;
}

.portfolio-item > .transition-wrapper > .picture-and-text:hover .subtitle {
    color: lightseagreen;
}

.img-darken {
    transition: 0.5s;
    filter: brightness(10%);
}

.img-brighten {
    transition: 0.5s;
    filter: brightness(100%);
}
/* ===================================================== Style details
========================================================*/
/*--------------------Content Styles--------------------*/

.detail{
    position: relative;
    height: 0px;
    overflow: hidden;
    /*background-color: #F2F25D;
    background-color: #FBBC54;
    background-color: rgb(0, 151, 156);
    */
    background-color: red;
    margin-top: 40px;
}

.detail > .detail-cover {
    transition: 1s;
    position : absolute;
    height: 100.1%;
    width: 100.1%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.detail > .detail-wrapper{
    padding: 20px 20px;
}
.detail h3{
    font-size: 24pt;
}

.detail > .detail-wrapper > img{
    width: 100%;
    height: auto;
    max-height: 500px;
    max-width: 1000px;
}

.detail > .detail-wrapper > .img-long > img{
    width: auto;
    height: 100%;
    max-height: 500px;
    max-width: clamp(10px, 100%, 1000px);
}

.detail video{
    width: auto;
    height: auto;
    max-height: clamp(10px, 100%, 500px);
    max-width: clamp(10px, 100%, 1000px);
}

.detail .detail-textWrapper{
    width: clamp(10px, 100%, 750px);
    margin: auto;
    text-align: justify;
}

/* ===================================================== Style About
========================================================*/
/*--------------------Content Styles--------------------*/
.about-img-text {
    width: 75%;
    height: auto;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.about-img-text > img {
    width: 100%;
}

.about-img-text > .text-wrapper{
    transform: translate(0%, 5%);
}

.about-img-text > .text-wrapper > .text {
    transition: 1s;
    
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 3%;
    margin: 0;
    border-radius: 15px;
}


.about-img-text > .text-wrapper > .text > h2 {
    margin-top: 0;
}

.fadeIn{
    opacity: 1;
    transform: translate(0%, 0%);
}

.fadeOut{
    opacity: 0;
    transform: translate(0%, 20%);
}

@media(min-width: 1000px) {
    .about-img-text {
        position: relative;
        width: 75%;
        height: auto;
        margin: auto;
        margin-top: 100px;
        margin-bottom: 100px;
    
        text-align: left;
    }
    .about-img-text > img {
        width: 75%;
    }

    .about-img-text > .text-wrapper {
        position: absolute;
        top: 50%;
        right: 0%;
        width: 50%;

        transform: translate(10%, -50%);
    }

    .fadeIn{
        transform: translate(0%, 0%);
    }

    .fadeOut{
        transform: translate(0%, 20%);
    }
}

.about-parcours{
    margin-bottom: 150px;
}

.about-parcours > h2{
    font-size: 3em;
    color: white;

    width: fit-content;
    margin: auto;
    margin-bottom: 150px;

    background-color: rgba(0, 0, 0, 0.8);
    padding: 3%;
    border-radius: 15px;
}

.about-time-line{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 150px;

    width: 75%;
    margin: auto;
    border-left: solid;
    border-width: 5px;
}

.about-time-line > *{
    flex: 1;

    position: relative;
    text-align: left;
    padding-left: 20%;
}

.time-line-item > .ball{
    position: absolute;
    top: 0;
    left: 0;

    width: 1em;
    height: 1em;
    background-color: black;
    border-radius: 50%;

    transform: translate(-65%, -50%);
}

.time-line-item > h3{
    font-size: 2em;
}

.time-line-item > h4{
    margin-top: 0;
    margin-bottom: 0.5em;
}

.time-line-item > p{
    margin: 0;
}

/* ===================================================== Style Dagger Dash
========================================================*/
/*--------------------Content Styles--------------------*/
.daggerdash > .content-item {
    margin: 1em 10vw 5em 10vw;
}

.daggerdash > .content-item > img {
    width: clamp(300px, 40vw, 40vw);
    height: auto;
    margin-bottom: 1em;
}

.img-float-right {
    float: right;
    padding-left: 20px;
}

.daggerdash > .content-item > .text {
    font-size: clamp(1em, 1vw, 1vw);
    text-align: left;
}

.daggerdash > .content-item >.text > h2 {
    font-size: 1.5em;
    margin: 0;
}

.daggerdash > .content-item > video {
    width: clamp(300px, 100%, 1100px);
    height: auto;
}

/* ===================================================== Style Sewing Rox
========================================================*/
/*--------------------Content Styles--------------------*/
.slide-img {
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.slide-img > .arrows {
    position: absolute;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slide-img-wrapper{
    display: flex;
    width: 400px;
    height: 100%;
    overflow: hidden;
}

.slide-img-wrapper img{
    width: 400px;
}

.slide-img-wrapper > .slide1 {
    margin-left: -200%;
    transition: 1s;
}

/* ===================================================== Style Sewing Drawer
========================================================*/
/*--------------------Content Styles--------------------*/

.daggerdash > .content-item > .img-long > img {
    width: auto;
    height: clamp(500px, 40vw, 700px);
    margin-bottom: 1em;
}
